@import "tailwindcss";
@import "tw-animate-css";
@layer theme, base, components, utilities;

@custom-variant dark (&:is(.dark *));

:root {

  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --font-size: 16px;  
  --radius: 0.5rem;

  --background: oklch(0.9856 0.0050 228.8167);
  --foreground: oklch(0.3393 0.0748 239.3669);
  --card: oklch(0.3393 0.0748 239.3669);
  --card-foreground: oklch(0.9928 0.0025 228.7830);
  --popover: oklch(0.9086 0.1051 93.6573);
  --popover-foreground: oklch(0.5177 0.0561 89.5745);
  --primary: oklch(0.4775 0.1092 240.8439);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9616 0.0183 258.3527);
  --secondary-foreground: oklch(0.4775 0.1092 240.8439);
  --muted: oklch(0.8598 0.0103 238.5331);
  --muted-foreground: oklch(0.4713 0.0052 17.3396);
  --accent: oklch(0.6839 0.0685 89.8052);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6280 0.2577 29.2339);
  --destructive-foreground: oklch(0.9856 0.0278 98.0540);
  --border: oklch(0.6839 0.0685 89.8052);
  --input: oklch(0.8954 0.0375 90.0790);
  --ring: oklch(0.8828 0.1811 94.4604);
  --chart-1: oklch(0.8566 0.1655 86.5479);
  --chart-2: oklch(0.6273 0.1508 242.7773);
  --chart-3: oklch(0.6896 0.0714 234.0387);
  --chart-4: oklch(0.9510 0.0063 255.4756);
  --chart-5: oklch(0.3393 0.0748 239.3669);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.5256 0.1218 241.9015);
  --sidebar-primary: oklch(0.9479 0.0025 228.7850);
  --sidebar-primary-foreground: oklch(0.9086 0.1051 93.6573);
  --sidebar-accent: oklch(0.6273 0.1508 242.7773);
  --sidebar-accent-foreground: oklch(0.9688 0.0066 106.5223);
  --sidebar-border: oklch(0.6839 0.0685 89.8052);
  --sidebar-ring: oklch(0.8566 0.1655 86.5479);

  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.3077 0.0730 242.0123);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.9612 0 0);
  --card-foreground: oklch(0.3393 0.0748 239.3669);
  --popover: oklch(0.9849 0.0204 91.5789);
  --popover-foreground: oklch(0.4174 0.0830 84.9642);
  --primary: oklch(0.4775 0.1092 240.8439);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8275 0.0469 247.3885);
  --secondary-foreground: oklch(0.4129 0.0844 237.1351);
  --muted: oklch(0.6839 0.0685 89.8052);
  --muted-foreground: oklch(0.6700 0.0166 90.2905);
  --accent: oklch(0.6273 0.1508 242.7773);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5324 0.2082 22.1030);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.6839 0.0685 89.8052);
  --input: oklch(0.3122 0.0014 197.0843);
  --ring: oklch(0.8566 0.1655 86.5479);
  --chart-1: oklch(0.3393 0.0748 239.3669);
  --chart-2: oklch(0.6273 0.1508 242.7773);
  --chart-3: oklch(0.5421 0.1087 168.8318);
  --chart-4: oklch(0.8566 0.1655 86.5479);
  --chart-5: oklch(0.5406 0.1244 48.6470);
  --sidebar: oklch(0.4275 0.0912 238.4161);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.4076 0.0860 239.3304);
  --sidebar-primary-foreground: oklch(0.6273 0.1508 242.7773);
  --sidebar-accent: oklch(0.8566 0.1655 86.5479);
  --sidebar-accent-foreground: oklch(0.4275 0.0912 238.4161);
  --sidebar-border: oklch(0.6839 0.0685 89.8052);
  --sidebar-ring: oklch(0.8328 0.1716 82.0575);
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  font-size: var(--font-size);
} 

h1 {
  font-size: var(--text-7xl);
  font-family: var(--font-serif);
  font-weight: 300;
}

h2 {
  font-size: var(--text-5xl);
  font-family: var(--font-serif);
  font-weight: 300;
}
